:root {
  --primary-color: #0d0c0c;
  /* --secondary-color: #78635f;  */
  --secondary-color: #2860bb;
  --tertiary-color: #3c404b;
  --forth-color: #373b44;
  --text-color: #333;
  --background-color: #f0f0f0;
  --border-color: #ccc;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* background */
/* App Layout Styles */
.app-layout {
  min-height: 100vh;
}

.app-header {
  padding: 0;
  background-color: var(--color-bg-container);
  position: relative;
  z-index: 20;
}

/* General header bar styling */
.header-bar {
  background-color: var(--tertiary-color);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header-contents {
  padding-left: 10%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

/* Phone and Email Text visibility based on screen width */
.header-contents a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
}

.header-contents a:hover {
  color: var(--secondary-color);
}

@media (max-width: 652px) {
  .header-contents a {
    font-size: 0;
  }

  .header-contents a span {
    display: none;
  }

  .header-contents a svg {
    display: inline-block;
  }
}

/* Content Styling */
.app-content {
  padding: 24px;
  min-height: 280px;
  position: relative;
  background: url("./images/car-hauling.jpg") no-repeat center center;
  background-size: cover;
}

/* Overlay Styling */
.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.app-footer {
  text-align: center;
  padding: 10px;
  background-color: var(--color-footer-bg);
}

/* footer */
.footer {
  text-align: center;
}

/* navigation side bar */
.sider {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  background-color: var(--primary-color);
}

.title {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
}

/* Expanded state */
.title.expanded {
  font-size: 1.5rem;
}

/* Collapsed state */
.title.collapsed {
  font-size: 1.2rem;
  justify-content: center;
}

/* Individual styling for "B&C" */
.sider-bc-only {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}

/* Styling for "LOGISTICS" */
.sider-logistics-only {
  font-size: 0.6rem;
  font-weight: 300;
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: block;
  margin-top: -5px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.sider .ant-menu-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color) !important;
  border: none !important;
  color: var(--secondary-color) !important;
}

.menu-item {
  color: white !important;
}

.sider .ant-menu-item:hover {
  background-color: var(--secondary-color) !important;
}

.sider .ant-menu-item-selected {
  background-color: var(--secondary-color) !important;
}

.sider .ant-menu-item:hover .ant-menu-item-icon,
.sider .ant-menu-item-selected .ant-menu-item-icon {
  color: white;
}

.sider .title {
  color: white;
}

/* Header Bar Styles */
.header-bar {
  background-color: var(--tertiary-color);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.number-only {
  padding-left: 20%;
}

/* Home Section */
.home-container {
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Title Background (Stays behind) */
.title-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.3;
  z-index: 1;
  animation: fadeIn 2s ease-out forwards;
}

.form-container {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 1.5s ease-out 2s forwards;
}

.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: center;
}
.bc-only {
  text-align: center;
  font-size: 200px;
}

.sub-title {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 8px;
  display: block;
  text-transform: uppercase;
}

.slogan {
  font-size: 24px;
  color: var(--secondary-color);
  font-style: italic;
  font-weight: bold;
  margin: 20px 50px 20px 0px;
  animation: driveIn 2s ease-out forwards;
  text-align: center;
}

/* Keyframes for the "car driving in" effect */
@keyframes driveIn {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  50% {
    opacity: 0.7;
    transform: translateX(20vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Transport Form Styles */
.transport-form {
  max-height: 80vh; /* Adjust as needed */
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: rgba(244, 247, 249, 0.95);
  margin: auto;
  opacity: 0;
  transform: translateY(50px);
  /* animation: slideIn 0.8s ease-out forwards;  */
  animation: fadeIn 1.5s ease-out 2s forwards; /* Appears after title */
}

/* Keyframes for sliding in */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-user {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 30px;
  line-height: 1.6;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.form-item {
  margin-bottom: 16px;
  width: 100%;
}

.form-item label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
}

.ant-input,
.ant-picker,
.ant-select-selector,
.ant-input-textarea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.ant-input:focus,
.ant-picker:focus,
.ant-select:focus {
  border-color: var(--forth-color) !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Submit Button */
.submit-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  padding: 14px;
  font-size: 14px;
  width: 100% !important;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  outline: none !important;
  border: 1px solid var(--secondary-color) !important;
}

.submit-btn:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--secondary-color);
}

/* About Us Section */
.about-us-container {
  padding: 50px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  max-width: 100%;

  margin: auto;
  text-align: center;
  opacity: 0.9;
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 0.8s ease-out forwards;
}

/* Keyframes for sliding in */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-us-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-us-paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

/* successful submission */
.success-form-title {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.success-page-container {
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
  border-radius: 8px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.success-message {
  font-size: 18px;
  font-style: italic;
  color: var(--primary-color);
  margin-bottom: 30px;
  line-height: 1.6;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.submit-another-request {
  font-size: 18px;
  color: var(--primary-color);
  position: relative;
  z-index: 9999;
  margin: 10px;
}

.click-submit-another-request {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  position: relative;
  z-index: 9999;
}
.click-submit-another-request:hover {
  color: var(--tertiary-color);
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .transport-form {
    padding: 20px;
    width: 90%;
  }

  .form-item label {
    font-size: 12px;
  }

  .ant-input,
  .ant-picker,
  .ant-select-selector,
  .ant-input-textarea {
    padding: 10px;
    font-size: 12px;
  }

  .submit-btn {
    padding: 12px !important;
    font-size: 14px !important;
    font-size: 14px;
    width: 100% !important;
  }
}

@media (max-width: 667px) {
  .bc-only {
    font-size: 150px;
  }

  .sub-title {
    font-size: 55px;
    letter-spacing: 4px;
  }

  .slogan {
    font-size: 14px;
    margin: 10px 20px 10px 0px;
  }
}

@media (max-width: 575px) {
  .main-title {
    font-size: 34px;
  }

  .slogan {
    font-size: 12px;
  }
  .message-user {
    font-size: 14px;
  }

  .submit-btn {
    padding: 10px !important;
    font-size: 14px;
    width: 50% !important;
    margin-right: 100px !important;
  }

  .transport-form {
    padding: 16px;
    width: 100%;
  }

  .form-item {
    margin-bottom: 16px;
    width: 100%;
  }

  .ant-input,
  .ant-picker,
  .ant-select-selector,
  .ant-input-textarea {
    padding: 10px;
    font-size: 12px;
  }

  .form-item label {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .about-us-header {
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .about-us-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  .success-page-container {
    text-align: center;
    padding: 20px;
  }

  .success-form-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .success-message {
    font-size: 14px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .submit-another-request {
    font-size: 16px;
    color: var(--primary-color);
  }

  .click-submit-another-request {
    font-size: 16px;
  }

  .footer {
    font-size: 10px;
  }
}

@media (max-width: 526px) {
  .bc-only {
    font-size: 110px;
  }

  .sub-title {
    font-size: 45px;
    letter-spacing: 4px;
  }

  .slogan {
    font-size: 14px;
    margin: 10px 20px 10px 0px;
  }
}

@media (max-width: 437px) {
  .main-title {
    font-size: 30px;
  }

  .message-user {
    font-size: 13px;
  }
}

@media (max-width: 430px) {
  .main-title {
    font-size: 30px;
  }

  .message-user {
    font-size: 13px;
  }

  .about-us-header {
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .about-us-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }

  .bc-only {
    font-size: 90px;
  }

  .sub-title {
    font-size: 30px;
    letter-spacing: 4px;
  }

  .slogan {
    font-size: 14px;
    margin: 10px 20px 10px 0px;
  }
}

@media (max-width: 403px) {
  .main-title {
    font-size: 25px;
  }

  .message-user {
    font-size: 13px;
  }

  .slogan {
    font-size: 14px;
  }
  .message-user {
    font-size: 14px;
  }

  .form-item label .form-item input,
  .form-item select,
  .form-item .ant-picker {
    font-size: 14px;
    padding: 8px;
  }

  .ant-form {
    display: flex;
    flex-direction: column;
  }

  .form-item {
    width: 100%;
  }

  .ant-form-item-label {
    display: block;
    font-size: 12px;
    padding-bottom: 4px;
  }

  .ant-form-item-control-input {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .app-content {
    padding: 10px;
  }

  .content-overlay {
    padding: 5px;
  }

  .header-bar a svg {
    margin-bottom: 5px;
  }

  .header-contents a span {
    display: inline-block;
  }

  .app-content {
    padding: 10px;
  }

  .about-us-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .about-us-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
}
