:root {
  --primary-color: #0d0c0c;
  /* --secondary-color: #78635f;  */
  --secondary-color: rgb(15, 157, 204);
  --tertiary-color: linear-gradient(to right, #00f0ff, #6d50ac);
  --forth-color: #373b44;
  --fifth-color: #6d50ac;
  --text-color: #333;
  --background-color: #f0f0f0;
  --border-color: #ccc;
}

* {
  box-sizing: border-box;
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100%;
  /* height: auto; */
  /* min-height: 100vh; */

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  /* overflow-y: auto; */
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  

}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}



/* General header bar styling */
.header-bar {
  background: var(--tertiary-color);
  padding: 5px 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  z-index: 8;
}

.number-only {
  padding-left: 20%;
}


.header-contents {
  padding-left: 10%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

/* Phone and Email Text visibility based on screen width */
.header-contents a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
}

.header-contents a:hover {
  color: var(--fourth-color);
}

@media (max-width: 652px) {
  .header-contents a {
    font-size: 0;
  }

  .header-contents a span {
    display: none;
  }

  .header-contents a svg {
    display: inline-block;
  }
}


/* footer */
/* .footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  z-index: 3;
 
  
}
.footer-contents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
   font-size: .4rem;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
 
} */

/* navigation side bar */
.sider {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  background-color: var(--primary-color);
}

.title {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
}

/* Expanded state */
.title.expanded {
  font-size: 1.5rem;
}

/* Collapsed state */
.title.collapsed {
  font-size: 1.2rem;
  justify-content: center;
}

/* Individual styling for "B&C" */
.sider-bc-only {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}

/* Styling for "LOGISTICS" */
.sider-logistics-only {
  font-size: 0.6rem;
  font-weight: 300;
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: block;
  margin-top: -5px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.sider .ant-menu-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color) !important;
  border: none !important;
  color: var(--secondary-color) !important;
}

.menu-item {
  color: white !important;
}

.sider .ant-menu-item:hover {
  background-color: var(--secondary-color) !important;
}

.sider .ant-menu-item-selected {
  background-color: var(--secondary-color) !important;
}

.sider .ant-menu-item:hover .ant-menu-item-icon,
.sider .ant-menu-item-selected .ant-menu-item-icon {
  color: white;
}

.sider .title {
  color: white;
}


.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Content Styling */
.content-section {
  overflow: auto;
  /* position: fixed; */
  background: url("./images/car-hauling.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Overlay Styling */
.content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 2;

}


/* Home Section */

/* Title Background (Stays behind) */
.title-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.3;
  z-index: 2;
  animation: fadeIn 2s ease-out forwards;
}

.home-container {
  display: flex;
  /* flex: 1;  */
  align-items: center;
  justify-content: center;
  /* min-height: 85vh;  */
  overflow: hidden;
  margin: 30px auto;

}

/* Outside the form will include footer as well as form background */
.form-container {
  box-sizing: border-box;
  width: 100%;    
  padding: 10px;      
  opacity: 0;
  z-index: 2;
  animation: fadeIn 1.5s ease-out 2s forwards;
  
}

/* Transport Form Styles */
.transport-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 80vh;   
  overflow: visible; 
}

/* inside the form */
.transport-form {
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: rgba(244, 247, 249, 0.95);
  animation: fadeIn 1.5s ease-out 2s forwards;
  overflow-y: auto; 
  width: 100%;              
  max-width: 600px;      
  max-height: 80vh;        
  box-sizing: border-box;
  padding: 20px;
  /* margin: 20px 0;           */
  height: 65vh;
}

/* Keyframes for sliding in */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  /* margin-bottom: 10px; */
  line-height: 1.1;
  text-align: center;
}
.message-user {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  color: var(--secondary-color);
  /* margin-bottom: 10px; */
  line-height: 1.6;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.form-item {
  margin-bottom: 10px;
  width: 100%;
}

.form-item label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
}

.ant-input,
.ant-picker,
.ant-select-selector,
.ant-input-textarea {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.ant-input:focus,
.ant-picker:focus,
.ant-select:focus {
  border-color: var(--forth-color) !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.picker-wrapper {
  position: relative;
}

.date-picker-wrapper {
  width: 100%  !important;
}
.date-pickers {
display: flex;
justify-content: space-evenly;
width: 100%  !important;
}

.single-date-picker {
  /* width: calc(100% - 36px); */
  width: 100% !important;
  padding: 12px;
  font-size: 12px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.react-datepicker-wrapper{
  width: 100%;
  
}



.arrow {
  color: grey;
  display: flex;
  margin: 0 1px;
}

@media (max-width: 768px) {
  .mobile-date-picker {
    width: 100vw !important;
    max-width: 400px !important;
    left: 0 !important;
    right: 0 !important;
    transform: none !important;
  }
}




.ant-picker-content {
  font-size: 16px; 
}

.ant-picker-cell-inner {
  padding: 12px !important; 
  font-size: 1rem !important;
}

.ant-picker-header {
  background-color: #f5f5f5 !important;
  padding: 10px !important;
}

/* Make the input box larger */
.ant-picker-input input {
font-size: 16px !important;
padding: 10px !important;
}

/* Submit Button */
.submit-btn {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  padding: 14px;
  font-size: 14px;
  width: 100% !important;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  outline: none !important;
  border: 1px solid var(--secondary-color) !important;
}

.submit-btn:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--secondary-color);
}


/* background title */
.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  line-height: 1.1;
  text-align: center;
}
.bc-only {
  text-align: center;
  font-size: 9rem;
}

.sub-title {
  font-size: 3.1rem;
  font-weight: 300;
  letter-spacing: 8px;
  display: block;
  text-transform: uppercase;
}

.slogan {
  font-size: 1.6rem;
  color: var(---color);
  font-style: italic;
  font-weight: bold;
  animation: driveIn 2s ease-out forwards;
  text-align: center;
}

/* Keyframes for the "car driving in" effect */
@keyframes driveIn {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  50% {
    opacity: 0.7;
    transform: translateX(20vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* About Us Section */
.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 65vh; 
  margin: 30px auto;
  max-width: 800px; 
  width: 90%;
  background-color: rgba(244, 247, 249, 0.95);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  opacity: 0.9;
  padding: 20px; 
  animation: slideIn 0.8s ease-out forwards;
  z-index: 2;
}

.about-us-header {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3.3vw; 
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.about-us-paragraph {
  font-size: 1.2vw; 
  line-height: 1.5; 
  color: #333;
  padding: 0px 20px; 
}



/* successful submission */

.success-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  height: 65vh; 
  margin: 30px auto;
  max-width: 800px; 
  width: 90%;
  background-color: rgba(244, 247, 249, 0.95);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  opacity: 0.9;
  padding: 20px; 
  animation: slideIn 0.8s ease-out forwards;
  z-index: 2;
}

.success-form-title {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 2.5rem;
}

.success-message {
  text-align: center;
  font-style: italic;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0 50px;

}

.submit-another-request {
  color: var(--primary-color);
  z-index: 3;
  font-size: 1.5rem;
  text-align: center;
}

.click-submit-another-request {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 1.4rem;
  z-index: 3;
}
.click-submit-another-request:hover {
  color: var(--tertiary-color);
}


/* Keyframes for sliding in */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1275px) {
  /* About Us Section */
  .about-us-header {
    font-size: 4vw; 
  }
  
  .about-us-paragraph {
    font-size: 1.3vw; 
  }
  }

@media (max-width: 1100px) {
  /* About Us Section */
  .about-us-header {
    font-size: 4.5vw; 
  }
  
  .about-us-paragraph {
    font-size: 1.7vw; 
  }
  }

@media (max-width: 1100px) {
  /* About Us Section */
  .about-us-header {
    font-size: 4.5vw; 
  }
  
  .about-us-paragraph {
    font-size: 1.7vw; 
  }
  }

@media (max-width: 767px) {
/* About Us Section */
.about-us-header {
  font-size: 5vw; 
}

.about-us-paragraph {
  font-size: 2vw; 
}
}

@media (max-width: 645px) {
  /* background title */
.bc-only {
  font-size: 8rem;
}

.sub-title {
  font-size: 2.7rem;
}

.slogan {
  font-size: 1.4rem;
}

  /* About Us Section */
  .about-us-header {
    font-size: 5vw; 
  }
  
  .about-us-paragraph {
    font-size: 2.3vw; 
    line-height: 1.5; 
  }
  
    /* successful submission */
  .success-form-title {
    font-size: 1.8rem;
  }
  
  .success-message {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 0 20px;
  }
  
  .submit-another-request {
    font-size: 1.3rem;
  }
  
  .click-submit-another-request {
    font-size: 1.1rem;
  }
  }

@media (max-width: 430px) {

  /* About Us Section */
  .about-us-header {
    font-size: 5.5vw; 
  }
  
  .about-us-paragraph {
    font-size: 2.7vw; 
    line-height: 1.5; 
  }

  }



@media (max-width: 375px) {

  /* background title */
.bc-only {
  font-size: 5rem;
}

.sub-title {
  font-size: 1.5rem;
  letter-spacing: 8px;
}

.slogan {
  font-size: 1rem;
}

/* About Us Section */
.about-us-header {
  font-size: 5vw; 
}

.about-us-paragraph {
  font-size: 2.4vw; 
  line-height: 1.5; 
}

  /* successful submission */
.success-form-title {
  font-size: 1.5rem;
}

.success-message {
  font-size: 1.1rem;
}

.submit-another-request {
  font-size: .9rem;
}

.click-submit-another-request {
  font-size: .8rem;
}
  
}